@import "tailwindcss";

/* Import Poppins from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Theme */
@theme {
  /* Primary color */
  --color-primary: #0066a6;
  --color-primary-light: color-mix(in srgb, #0066a6 80%, white);
  --color-primary-dark: color-mix(in srgb, #0066a6 90%, black);

  /* Secondary color */
  --color-secondary: #0229bf;
  --color-secondary-light: color-mix(in srgb, #0229bf 80%, white);
  --color-secondary-dark: color-mix(in srgb, #0229bf 90%, black);

  /* Default font */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;
}

body {
  font-family: var(--font-sans);
  background-color: #f9f9f9;
  color: #436fe9;
  margin: 0;
  padding: 0;
}

/* Left parallelogram shape */
.clip-left {
  clip-path: polygon(10% 0, 26% 0, 16% 100%, 0 100%);
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
